@model IEnumerable<FutsalSemuaSenang.Models.User>

@{ Layout = "_AdminLayout"; }

<br />
<h3 align="center" style="font-family:'Comic Sans MS'">Semua User</h3>
<br />

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <td align="center" width="5%">
                    <strong style="font-size:15px">Nomor</strong>
                </td>
                <td align="center" width="5%">
                    <strong style="font-size:15px">Id User</strong>
                </td>
                <td align="center" width="10%">
                    <strong style="font-size:15px">Nama User</strong>
                </td>
                <td align="center" width="10%">
                    <strong style="font-size:15px">Email User</strong>
                </td>
                <td align="center" width="10%"><strong style="font-size:15px">Status User</strong></td>
            </tr>
        </thead>
        <tbody>
            @{
                var nomor = 1;
            }
            @foreach (var item in Model)
            {
            <tr>
                <td align="center">
                    @nomor
                    @{
                        nomor += 1;
                    }
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @{ if (item.Status == true)
                    {
                        <td align="center">
                            <a href="@Url.Action("NonAktifkan", "Home", new { id = item.Id })"
                               class="fas fa-download fa-2x" title="NonAktifkan User" style="color:red"
                               onclick="if (! confirm('Yakin untuk menonaktifkan User ini ?')) { return false; }">
                            </a>
                        </td>
                    }
                    else
                    {
                        <td align="center">
                            <a href="@Url.Action("Aktifkan", "Home", new { id = item.Id })"
                               class="fas fa-upload fa-2x" title="Aktifkan User" style="color:green"
                               onclick="if (! confirm('Yakin untuk mengaktifkan User ini ?')) { return false; }">
                            </a>
                        </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />