@model IEnumerable<FutsalSemuaSenang.Models.Booking>

@{ Layout = "_AdminLayout"; }

<table class="table">
    <thead>
        <tr>
            <th>
                ID User
            </th>
            <th>
                Nama Lapangan
            </th>
            <th>
                Tanggal Booking
            </th>
            <th>
                Jam Mulai
            </th>
            <th>
                Jam Selesai
            </th>
            <th>
                Harga
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaLapangan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tanggal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JamMulai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JamSelesai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
